<h1>Listing repositories</h1>

<table>
  <tr>
    <th>Project Name</th>
    <th>Repository Type</th>
  </tr>

<% @repositories.each do |repository| %>
  <tr>
    <td><%= link_to repository.name, repository %></td>
    <td><%= repository.repo_type %></td>
  </tr>
<% end %>
</table>

<br />

